.project-footer {
  width: 100%;
  padding: 20px 0;
  border-top:3px solid #000;
}

.project-footer__row>div {

  /* Small Devices, Tablets */
  @media only screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 575px) {
    margin-bottom: 0;
    margin-top: 25px;
  }
}
.project-footer__row .project-footer__social-services {

  /* Small Devices, Tablets */
  @media only screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}
.project-footer__contact-us {

  &::before {
    @extend .before;
    width: 100%;
    height: 110%;
    left: -5%;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    z-index: -10;

    /* Large Devices, Wide Screens */
    @media only screen and (max-width: 1199px) {
      height: 100%;
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width: 767px) {
      border: none;
    }
  }
}
.project-footer__social-services {

  &::before {
    @extend .before;
    border: none;
    top: -15px;
    left: -90%;
    z-index: -10;

    /* Small Devices, Tablets */
    @media only screen and (max-width: 767px) {
      width: 280%;
      border-top: 1px solid #ddd;
    }
    /* Extra Small Devices, Phones */
    @media only screen and (max-width: 575px) {
      border: none;
      width: 0;
    }
  }
}
.project-footer__logo__text {
  display: inline-block;
  font-size: 0.9rem;
  color: #999;
}
.project-footer__logo {
  width: 70px;
  display: inline-block;
  vertical-align: baseline;
}
.project-footer__time-open__text {
  color: #888;
  margin-bottom:0;
}
a.project-footer__phone-number {
  @extend a.navigation-block--phone;
  line-height:1;

  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 575px) {
    float: none !important;
  }
}
.project-footer__email {
  display: block;
  color: $color;
  line-height: 1.7;
  margin-bottom:0;

  &:hover {
    color: $hover;
    cursor: pointer;
  }
}
a.project-footer__social-service {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid $color;
  margin-right: 7px;
  position: relative;

  i {
    position: absolute;
    width: 100%;
    line-height: 50px;
    text-align: center;
    color: $color;

    &:hover {
      color: #fff;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (max-width: 1199px) {
      line-height: 44px;
    }
    /* Medium Devices, Desktops */
    @media only screen and (max-width: 991px) {
      line-height: 30px;
      font-size: 0.9rem;
    }
  }

  &:hover {
    background-color: $color;
  }

  /* Large Devices, Wide Screens */
  @media only screen and (max-width: 1199px) {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    margin-right: 5px;
  }
  /* Medium Devices, Desktops */
  @media only screen and (max-width: 991px) {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 4px;
  }
}
