.smartphones {
  margin-top:25px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.smartphone {
  width: 31%;
  margin-bottom: 3.5%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  position: relative;

  &::after {
    @extend .before;
    opacity: 0;
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    border: 14px solid #fff;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.1);
    transition: all 0.2s linear;
    z-index: -10;

    /* Small Devices, Tablets */
    @media only screen and (max-width: 767px) {
      border: 18px solid #fff;
    }
  }

  &:hover {
    .smartphone__p {
      color: $color;
    }

    &::after {
      opacity: 1;
    }
    .smartphone--arrow {
      display: block;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width: 991px) {
    width: 47%;
    margin-bottom: 6%;
  }
}


//////////////
/// SLIDER ///
//////////////

.smartphone__slider {
  width: 100%;
  height: 164px;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;

  /* Large Devices, Wide Screens */
  @media only screen and (max-width: 1199px) {
    height: 135px;
  }
  /* Medium Devices, Desktops */
  @media only screen and (max-width: 991px) {
    height: 133px;
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width: 767px) {
    height: 94px;
  }
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 575px) {
    height: 153px;
  }
  @media only screen and (max-width: 520px) {
    height: 125px;
  }
  @media only screen and (max-width: 431px) {
    height: 100px;
  }
}

.smartphone__slider>div, .smartphone__slider>a {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.smartphone__slider--img {
  opacity: 0;
  z-index: -10;
  margin: 0 10%;
  width: 80%;
  height: auto;
  overflow: hidden;
  display: none;

  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 575px) {
    height: 153px;
    width: auto;
    margin: 0 auto;
  }
  @media only screen and (max-width: 520px) {
    height: 125px;
  }
  @media only screen and (max-width: 431px) {
    height: 100px;
  }
}
.smartphone__slide--active {
  z-index: 20;
  opacity: 1;
  display: block;
}

.smartphone--arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  z-index: 30;
  display: none;
  color: #aeb2b3;
  cursor: pointer;

  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 575px) {
    display: block;
  }
  @media only screen and (max-width: 374px) {
    color: $color;
  }

  &:hover {
    color: #000;
  }

  i {
    margin-top: 13px;
    margin-left: 13px;
  }
}

div#arrow-backward {
  @extend .smartphone--arrow;
  left: -15px;
}
div#arrow-forward {
  @extend .smartphone--arrow;
  right: -15px;
  left: auto;
}

///////////


.smartphone__a-model {
  align-self: left;
  width: 100%;
  border-top: 1px solid #e8eeef;

  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
  }
}
.smartphone__p {
  color: $text-smartphones;
  padding-top: 10px;
  font-size: 1.1rem;
  margin-bottom: 5px;

  /* Large Devices, Wide Screens */
  @media only screen and (max-width: 1199px) {
    font-size: 1rem;
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width: 767px) {
    margin-bottom:0;
  }
}

.smartphone__bottom-info {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Small Devices, Tablets */
  @media only screen and (max-width: 767px) {
    flex-wrap: wrap;
    height: 63px;
    justify-content: flex-start;
  }
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 575px) {
    justify-content: space-between;
  }
  @media only screen and (max-width: 512px) {
    justify-content: flex-start;
  }
}

.smartphone__bottom-info__rating {
  height: 32px;
  justify-self: flex-start;
  margin:0;
  border-radius: 0;
  padding: 0;
  text-align: left;
  cursor: auto;

  &:hover > i {
    color: $hover;
  }
}
.smartphone__bottom-info__star {
  color: $color;
  line-height: 32px;
  margin: 0;
  margin-right: 2px;
  font-size:0.9rem;

  /* Large Devices, Wide Screens */
  @media only screen and (max-width: 1199px) {
    font-size:0.8rem;
  }
}
.smartphone__bottom-info__price {
  line-height: 32px;
  margin: 0 -10px 0 10px;

  font-family: 'PF Din Text Comp Pro M', $arial;
  font-size:1.8rem;

  /* Large Devices, Wide Screens */
  @media only screen and (max-width: 1199px) {
    font-size:1.7rem;
    margin: 0;
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width: 767px) {
    margin-left: auto;
  }
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 575px) {
    margin-left: auto;
    margin-right: 15px;
  }
}
button.smartphone__bottom-info__add-to-card {
  font-size:1.3rem;
  padding: 0 10px;
  height:32px;
  border-radius: 0;

  /* Large Devices, Wide Screens */
  @media only screen and (max-width: 1199px) {
    font-size:1.1rem;
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width: 767px) {
    margin: 0 auto;
    padding: 0 8px;
  }
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 575px) {
    margin: 0;
  }
  @media only screen and (max-width: 512px) {
    margin-left: calc(50% - 35.5px);
  }
  @media only screen and (max-width: 369px) {
    font-size:1rem;
  }

}



